$logo-green: #00ec21;
$logo-grey: #4f5454;
$landing-black: #252525;
$link-text-grey: #696e6e;
$secondary-text-grey: #919696;

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
a {
  color: black;
  text-decoration: none;
}
li {
  list-style-type: none;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(37, 37, 37, 0.8);
  backdrop-filter: blur(6px);
  z-index: 9;
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.social-links-container {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 150px;
  z-index: 50;
  #social-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    li {
      transition: 0.25s ease-in-out;
      display: flex;
      border-radius: 5px 0 0 5px;
      padding: 5px 10px;
      width: 100%;
      justify-content: flex-end;
    }
    a {
      display: flex;
      justify-self: right;
      align-items: center;
      color: #fff;

      i {
        font-size: 30px;
        color: #fff;
        z-index: 6;
      }
      h3 {
        font-size: 20px;
        margin-right: 10px;
        transform: translateX(100px);
        z-index: 5;
        transition: all 0.25s ease-in-out;
        opacity: 0;
        cursor: pointer;
      }
    }
  }
}
.social-links-container #social-links li:hover .label {
  transform: translateX(0px);
  opacity: 1;
}
#linkedin-section:hover {
  background-color: #0077b5;
}
#github-section:hover {
  background-color: black;
}
#resume-section:hover {
  background-color: grey;
}
#mobile {
  z-index: 10;
  width: 40vw;
  height: 100vh;
  background-color: $logo-grey;
  position: fixed;
  left: -2000px;
  transition: all 0.4s ease-in-out;
  #hamburger {
    padding: 1rem;
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    .lines {
      height: 30px;
      width: 30px;
      position: relative;
    }
    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 50%;
      background: #fff;
      opacity: 1;
      transition: 0.25s ease-in-out;
    }
    span:nth-child(even) {
      left: 50%;
      border-radius: 0 4px 4px 0;
    }
    span:nth-child(odd) {
      left: 0;
      border-radius: 4px 0 0 4px;
    }
    span:nth-child(1),
    span:nth-child(2) {
      top: 3px;
    }
    span:nth-child(3),
    span:nth-child(4) {
      bottom: 45%;
    }
    span:nth-child(5),
    span:nth-child(6) {
      bottom: 3px;
    }
  }
  #hamburger.active .lines span:nth-child(1),
  #hamburger.active .lines span:nth-child(6) {
    transform: rotate(45deg);
  }
  #hamburger.active .lines span:nth-child(2),
  #hamburger.active .lines span:nth-child(5) {
    transform: rotate(-45deg);
  }
  #hamburger.active .lines span:nth-child(1),
  #hamburger.active .lines span:nth-child(2),
  #hamburger.active .lines span:nth-child(5),
  #hamburger.active .lines span:nth-child(6) {
    width: 80%;
  }
  #hamburger.active .lines span:nth-child(3) {
    left: -10px;
    opacity: 0;
  }
  #hamburger.active .lines span:nth-child(4) {
    transform: translateX(25px);
    opacity: 0;
  }
  #hamburger.active .lines span:nth-child(1),
  #hamburger.active .lines span:nth-child(2) {
    top: 5px;
  }
  #hamburger.active .lines span:nth-child(5),
  #hamburger.active .lines span:nth-child(6) {
    bottom: 5px;
  }
  .links {
    position: absolute;
    font-weight: 600;
    top: 30%;
    left: 30%;
    font-size: 72px;
    opacity: 0;
    transition: all 2s ease-in-out;
    li {
      margin: 20px 0;
      a {
        transition: all 0.5s ease-in-out;
        color: white;
      }
    }
  }
}
#mobile a:hover {
  text-decoration: underline;
}
#landing {
  background-color: $landing-black;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  #landing-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    h1 {
      color: white;
      font-weight: 800;
      font-size: 49px;
      transform: translateY(-32px);
    }
    h4 {
      color: $link-text-grey;
      font-size: 27px;
      font-weight: 300;
      letter-spacing: 5px;
      transform: translateY(-32px);
    }
    #landing-logo {
      width: 18.75rem;
      height: auto;
    }
  }
  #landing-links {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      transform: translateY(-20px);
      li {
        padding: 10px;
        font-size: 27px;
        a {
          color: $secondary-text-grey;
          transition: all 0.5s ease-in-out;
        }
        span {
          color: $logo-green;
          font-size: 35px;
          cursor: default;
        }
      }
    }
  }
  #landing-links a:hover {
    color: white;
  }
}
#scroll {
  color: $logo-green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  h3 {
    font-weight: 300;
  }
  i {
    margin-top: 5px;
  }
}
#projects {
  .triangle {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
  }
  width: 100%;
  height: 120vh;
  background-color: $logo-grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  #projects-title {
    font-size: 72px;
    color: white;
    span {
      color: $logo-green;
    }
  }
  #project-display {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    #project-item {
      background-color: $landing-black;
      height: 300px;
      width: 20rem;
      margin: 2rem;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .thumbnail {
        background-color: white;
        width: 250px;
        height: 170px;
        margin: 27px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .thumbnail::after {
        content: "TBA";
        font-size: 27px;
        color: $landing-black;
        font-weight: 800;
        font-family: "Montserrat";
      }
      h3 {
        color: $logo-green;
        font-size: 27px;
      }
    }
  }
}
#about {
  .wave {
    position: absolute;
    top: -12.8rem;
    width: 100%;
    height: auto;
  }
  position: relative;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #34b746;
  #about-title {
    transform: translateY(-50px);
    span {
      color: $logo-green;
    }
    color: white;
    font-size: 72px;
    margin: 5rem 0 1rem 0;
  }
  #about-description {
    transform: translateY(-50px);
    background-color: $landing-black;
    margin: 0 auto;
    border-radius: 10px;
    width: 80vw;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .about-image-container {
      border-radius: 10rem;
      width: 20rem;
      height: 20rem;
      position: relative;
      overflow: hidden;
      background: url("../img/JTG_7391_Full.jpg") no-repeat center center/cover;
    }
    p {
      background-color: $logo-grey;
      border-radius: 10px;
      padding: 1.5rem;
      font-size: 115%;
      color: $logo-green;
      width: 60%;
      margin-left: 2rem;
    }
  }
}
#contact {
  height: 90vh;
  background-color: $logo-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    .contact-title {
      align-self: center;
      font-size: 72px;
      color: white;
      text-align: center;
      margin: 3rem;
      width: 100vw;
      span {
        color: $logo-green;
      }
    }
    label {
      color: $logo-green;
      display: block;
      font-size: 26px;
      font-weight: 600;
    }
    input,
    textarea {
      width: 100%;
      height: 50px;
      padding: 1rem;
      border-radius: 5px;
      border: none;
    }
    textarea {
      height: 10rem;
    }
    input:focus,
    textarea:focus {
      border: 2px solid $logo-green;
      outline: none;
    }
    button {
      width: 100%;
      height: 3rem;
      background-color: #34b746;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: white;
      font-weight: 600;
      letter-spacing: 1.5px;
      transition: all 0.15s ease-in-out;
      margin: 3rem 0 3rem 0;
    }
    button:hover {
      opacity: 0.9;
    }
    .contact-input {
      div {
        margin-bottom: 2rem;
      }
    }
  }
}

@media screen and (max-width: 1315px) {
  #contact .contact-title {
    font-size: 2;
  }
  #projects #project-display {
    margin-top: 0px;
  }
  #projects #projects-title {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 1125px) {
  #mobile {
    width: 100vw;
  }
}
@media screen and (max-width: 1075px) {
  #about .wave {
    top: -10rem;
  }
}
@media screen and (max-width: 1024px) {
  #about .wave {
    top: -10rem;
  }
}
@media screen and (max-width: 995px) {
  #about #about-description {
    flex-direction: column;
    height: 100%;
    margin: 50px;
    padding: 1rem;
    transform: translateY(0px);
  }
  #projects {
    height: 120vh;
  }
  #about {
    height: 110vh;
  }
  #about #about-title {
    font-size: 50px;
    margin: 0;
    transform: translateY(10px);
  }
  #contact .contact-form .contact-title {
    font-size: 50px;
  }
  #projects #projects-title {
    font-size: 50px;
  }
  #contact .contact-form {
    width: 70%;
  }
  #about #about-description p {
    width: 95%;
    padding: 15px;
    margin: 0;
    text-align: center;
  }
  #about #about-description .about-image-container {
    height: 300px;
    width: 300px;
    margin-bottom: 3rem;
    border-radius: 10px;
  }
  #about #about-description .about-image-container #about-img {
    transform: translate(-110px, -200px);
  }
}
@media screen and (max-width: 830px) {
  #about .wave {
    top: -7rem;
  }
}
@media screen and (max-width: 767px) {
  #mobile .links {
    font-size: 30px;
  }
  #projects #project-display #project-item {
    margin: 1rem;
  }
}
@media screen and (max-width: 705px) {
  #projects {
    height: 150vh;
  }
  #projects #project-display {
    margin: 0;
  }
  #projects #project-display #project-item {
    margin: 0.5rem;
  }
}
@media screen and (max-width: 580px) {
  #about .wave {
    top: -5rem;
  }
  #about #about-description p {
    font-size: 16px;
  }
}
@media screen and (max-width: 430px) {
  #about #about-description p {
    font-size: 13px;
  }
}
@media screen and (max-width: 420px) {
  #about .wave {
    top: -3rem;
  }
}
@media screen and (max-width: 400px) {
  #landing #landing-content #landing-links li {
    font-size: 20px;
  }
  #landing #landing-content #landing-logo-container h1 {
    font-size: 40px;
  }
  #landing #landing-content #landing-logo-container h4 {
    font-size: 20px;
  }
  #projects #project-display #project-item {
    height: 200px;
    width: 20rem;
  }
  #projects {
    height: 100vh;
  }
}
@media screen and (max-width: 390px) {
  #about #about-description .about-image-container {
    height: 200px;
    width: 200px;
  }
}
@media screen and (max-width: 390px) {
}
